---
layout: archive
title: "Teaching and Tutoring"
permalink: /teaching/
author_profile: true
---

<div class="wordwrap">As a Supervisor for the Cambridge Physiology and Medical Statistics courses, I support students in developing a strong foundation in these subjects. Additionally, I have delivered 100s of hours of tutoring for medical school entry, guiding applicants through admissions tests, interviews, and applications. I also co-lead the Emmanuel Widening Access Programme for Medicine, working to make medical education more accessible.</div>
<div class="wordwrap">&nbsp</div>
<div class="wordwrap">If you are seeking a tutor, please feel free to get in touch! I am currently accepting new students at a rate of £57 per hour.</div>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
